################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/PlayPauseButton/obj/Debug
/PlayPauseButton/bin/Debug
